---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FormRenderer from '../../components/FormRenderer'
---

<BaseLayout>
    <div class="pt-3">
<FormRenderer slug="donation-form"/>

    </div>
</BaseLayout>